@media (max-width: 1200px) {
  .hero .title {
    width: 100%;
    font-size: 5rem;
    margin: 2rem 0 !important;
  }
  .hero .lead {
    width: 70%;
  }
  /* Mission and Vision */
  .mission-vision {
    height: auto;
    padding: 10rem 0 !important;
  }
}
@media (max-width: 992px) {
  .hero .title {
    font-size: 3.5rem;
    margin: 2rem 0 !important;
  }
  .hero .lead {
    width: 100%;
    font-size: 15px;
  }
  /* Images Section */
  .images-sec {
    padding: 5rem 0 2rem;
  }
  .img-wrapper {
    margin-bottom: 3rem;
  }
  /* Services Section */
  .services-wrapper {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(5, 250px);
  }
  .card-title h3 {
    font-size: 1.6rem;
  }
  .card-title p {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 !important;
  }
  .hero .title {
    font-size: 3rem;
  }
  /* Mission and vision */
  .mission,
  .vision {
    margin: 0 auto 3rem;
    width: 80%;
    text-align: center;
  }
  .vision {
    float: none;
  }
}
@media (max-width: 600px) {
  /* Services Section */
  .services-wrapper {
    grid-template-columns: 300px;
    grid-template-rows: repeat(9, 300px);
  }
}
@media (max-width: 400px) {
  /* Hero section */
  .hero .content {
    margin-top: 3rem;
  }
  .hero .title {
    font-size: 2rem;
    margin: 1rem 0 !important;
  }
  .lead {
    font-size: 14px !important;
  }
  .hero .btn {
    margin-bottom: 2rem;
  }
  /* Mission and Vision */
  .mission-vision {
    height: auto;
    padding: 5rem 0 !important;
  }
  .mission,
  .vision {
    width: 100%;
  }
}
