@media (max-width: 1200px) {
  .hero .title {
    width: 100%;
    font-size: 5rem;
    margin: 2rem 0 !important;
  }
  .hero .lead {
    width: 70%;
  }
  /* Mission and Vision */
  .mission-vision {
    height: auto;
    padding: 10rem 0 !important;
  }
  /* About section */
  .about {
    background-size: cover;
    height: auto;
    padding: 10rem 0 15rem;
  }
  .about .about-title {
    margin: 5rem 0 3rem;
  }
  /* contact section */
  .contact {
    height: auto;
  }
}
@media (max-width: 992px) {
  .hero .title {
    font-size: 3.5rem;
    margin: 2rem 0 !important;
  }
  .hero .lead {
    width: 100%;
    font-size: 15px;
  }
  /* Images Section */
  .images-sec {
    padding: 5rem 0 2rem;
  }
  .images-sec .text-div {
    align-self: center;
  }
  .images-sec .lead {
    width: 100%;
    height: 60%;
    text-align: center;
    margin-top: 0rem;
  }
}
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 !important;
  }
  .hero .title {
    font-size: 3rem;
  }
  /* Mission and vision */
  .mission,
  .vision {
    margin: 0 auto 3rem;
    width: 80%;
    text-align: left;
  }
  .vision {
    float: none;
  }
  /* About section */
  .about {
    background-size: cover;
    height: auto;
    padding: 5rem 0 15rem;
  }
  .about .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-title {
    text-align: center;
  }
  .about .lead {
    width: 100%;
    text-align: center;
  }
  /* Img sections */
  .images-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .img-div {
    width: 80%;
  }
  .text-div {
    width: 80%;
  }
  .images-row:nth-child(2) {
    flex-direction: column-reverse;
  }
  .images-sec .lead {
    width: 100%;
    text-align: center;
    margin-top: 3rem !important;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  /* contact section */
  .contact {
    height: auto;
  }
  .contact .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-title {
    text-align: center;
  }
  .contact .lead {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  /* Services Section */
  .services-wrapper {
    grid-template-columns: 300px;
    grid-template-rows: repeat(9, 300px);
  }
  .about-title h2 {
    font-size: 3rem;
  }
  .about .about-title {
    margin: 5rem 0 3rem;
  }
  .contact .about-title {
    margin: 10rem 0 3rem;
  }
  .services-title h2{
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  /* Hero section */
  .hero .content {
    margin-top: 0rem;
  }
  .hero .title {
    font-size: 2rem;
    margin: 1rem 0 !important;
  }
  .lead {
    font-size: 14px !important;
    width: 100%;
  }
  .hero .btn {
    margin-bottom: 0rem;
  }
  /* Mission and Vision */
  .mission-vision {
    height: auto;
    padding: 5rem 0 !important;
  }
  .mission,
  .vision {
    width: 100%;
  }
  /* Work area */
  .card {
    width: 300px;
    height: 250px;
    margin: 1rem auto !important;
  }
  .card img{
    width: 100%;
    height: 250px;

  }
}
