div#preloader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  background: #141414;
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
}

#preloader-container.done{
    display: none;
}

#preloader-container p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #ddb12d;
  text-align: center;
  text-transform: uppercase;
  line-height: 100vh;
  letter-spacing: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
svg.preloader circle {
  stroke-dashoffset: 0;
  fill: none;
  stroke-linecap: round;
}
