:root {
  /* Colors */
  --cta: #ddb12d;
  --light-black: #222;
  --black: #141414;
  --white: #fff;
  /* Other */
  --transition: all 0.5s ease;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 10000;
  background: #222;
}
.first {
  left: 0;
  width: 50%;
}

.second {
  left: 50%;
  width: 50%;
}

body {
  background-color: var(--black);
  color: var(--white);
  -webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar {
  display: none;
}
.navbar {
  font-size: 1.7rem;
  padding: 1rem 0;
}
.navbar-brand {
  font-size: 2.5rem;
  color: var(--cta) !important;
  font-weight: 800;
}
.nav-link {
  color: #fff !important;
  text-transform: capitalize;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  background-color: var(--cta);
  bottom: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav-link:hover::before,
.nav-link.active::before,
.nav-link:focus::before {
  width: 100%;
}

/* Hero Section */
/******************************************************/
.hero {
  height: 100vh;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/scyscraper.jpg);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
.hero .content {
  width: 100%;
  height: 100%;
}
.content .title {
  font-size: 5rem;
  width: 40%;
  font-weight: 800;
}
.content .lead {
  width: 50%;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.logo {
  width: 150px;
  height: 150px;
}

/* Mission and vision section */
/*********************************************/
.mission-vision {
  background: url("../images/bg.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.mission,
.vision {
  width: 50%;
  z-index: 2;
}
.mission {
  margin-bottom: 10rem;
}
.subtitle {
  font-size: 3rem;
  color: var(--cta);
  padding: 2rem 0;
  font-weight: 800;
}
.vision {
  float: right;
}
.mission-vision .lead {
  font-size: 17px;
  line-height: 1.6;
}
.svg-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0.2;
}
.mission-vision svg text {
  font-size: 120px;
  top: 50%;
  transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  animation-duration: 2.5s;
}

/* Images Section */
/***********************************/
.images-sec {
  background: url(../images/RectLight.svg);
  background-size: cover;
}
.images-sec img {
  width: 100%;
}
.images-sec .lead {
  width: 60%;
  font-size: 1.7rem;
  line-height: 1.6;
}
.images-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
  height: auto;
}
.img-div {
  width: 45%;
  height: auto;
}
.img-div > img {
  width: 100%;
}
.text-div {
  width: 45%;
  display: flex;
  align-items: center;
  height: auto;
}
/* Services Section */
/************************************/
.services {
  background: url("../images/bg.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.services-title h2 {
  font-size: 5rem;
  opacity: 0.8;
  margin: 2rem 0 5rem;
  color: #ddb12d;
  font-weight: 800;
}

.services-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-template-rows: repeat(3, 310px);
  gap: 20px;
  place-items: center;
  text-align: center;
  position: relative;
}
.service-box {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='500' preserveAspectRatio='none' viewBox='0 0 500 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1078%26quot%3b)' fill='none'%3e%3crect width='500' height='500' x='0' y='0' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M36 500L536 0L959 0L459 500z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M445 500L-55 0L-479.5 0L20.5 500z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3cpath d='M246.14757289622153 500L500 246.14757289622153L500 500z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M0 500L253.85242710377847 500L 0 246.14757289622153z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1078'%3e%3crect width='500' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1079'%3e%3cstop stop-color='rgba(82%2c 79%2c 79%2c 0.32)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(82%2c 79%2c 79%2c 0.32)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1080'%3e%3cstop stop-color='rgba(82%2c 79%2c 79%2c 0.32)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(82%2c 79%2c 79%2c 0.32)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  overflow: hidden;
}
.service-box::before {
  content: "";
  width: 100px;
  height: 150%;
  background: #7e7d7b13;
  position: absolute;
  left: 50%;
  top: -35%;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  z-index: 1;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform-origin: top;
}
.card-content {
  z-index: 2;
  padding: 1rem 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.card-content h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.card-content p {
  font-size: 1.6rem;
  padding: 0.5rem 0 0;
  display: none;
  font-weight: 500;
}
.service-box:hover.service-box::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  top: -25%;
  left: 35%;
}
.service-box:hover .card-content p {
  display: block;
}

/* About Section */
/********************************/
.about {
  height: 100vh;
  background: url(../images/RectLight.svg);
  background-position: bottom;
  padding: 5rem 0;
}
.about .about-title {
  margin: 15rem 0 3rem;
}
.about .about-title h2 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--cta);
}
.about .lead {
  width: 75%;
  font-size: 1.7rem;
  line-height: 1.6;
  letter-spacing: 1px;
}

/* Contact Section */
/********************************/
.contact {
  height: 100vh;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../images/scyscraper.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  padding: 5rem 0;
}
.contact .about-title {
  margin: 15rem 0 3rem;
}
.about-title h2 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--cta);
}
.contact .lead {
  width: 75%;
  font-size: 1.7rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}